:root {
  --color-1: #0D0221;
  --color-2: #0F084B;
  --color-3: #26408B;
  --color-4: #A6CFD5;
  --color-5: #C2E7D9;
  --color-6: #ffff;
}

body {
  background-image: url("../src/assets/images/backgrounds/waves.jpg");
  background-size: cover;
  background-position: center;
  align-items: stretch;
  background-attachment: fixed;
  background-position: 80%;
  justify-content: space-around;
}

body, html {
  height: 100vh;
  color: var(--color-3);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Main Title & Background */
.main-background{
  min-height: 90vh;
 
}

.main-title {
  color: var(--color-4);
}

/* Header & Navigation */
.header {
  background-color: var(--color-3);
  padding-bottom: 15px;
}

.nav-titles {
  color: var(--color-4)
}

.section-title {
  color:var(--color-4);
  text-decoration: none;
  border-radius: 15px;
  font-size: 20px;
}

.section-title:hover {
  background: var(--color-5);
  color: var(--color-1);
  border-radius: 15px;
  text-shadow: none;
}

.active {
  background-color: var(--color-2);
}

.nav-link {
  color: var(--color-4) !important;
}

.nav-link:hover {
  color: var(--color-2) !important;
}

.test{
  padding: 20px;
  padding-bottom: 50px;
}

/* About Page */
.figure img {
  border: 2px solid var(--color-4);
  border-radius: 15px;
  box-shadow: 5px 5px 5px var(--color-4);
}

.bio {
  border: 2px solid var(--color-4);
  padding-left: 20px;
  padding-top: 20px;
  background-color: var(--color-2);
  color: var(--color-6);
  font-weight: normal;
  font-size: larger;
}

/* Portfolio Page */
.card {
  height: 95%;
}

.card-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: var(--color-1);
  background-color: var(--color-5);
  border-radius: 5px;
  text-align: center;
}

.card-text {
  font-weight: bold;
  color: var(--color-3);
}

.contact-title {
  color: var(--color-4);
}

.contact-live-links {
  margin-bottom: 25px;
}

/* Contact Page */
#contact-form {
  background-color: #0F084B;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
}

#contact-form h4 a {
  color: var(--color-5);
  text-decoration: none;
}

#contact-form h4 {
  color: var(--color-4);
}

.contact-input {
  color: var(--color-5);
  font-weight: bolder;
  font-size: larger;
}

.error-text {
  color: var(--color-5)
}

.contact-message {
  margin-bottom: 10px;
}

.contact-button {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  margin-bottom: 5px;
  color: var(--color-2);
  background-color: var(--color-4);
}

.contact-button:hover {
  color: var(--color-4);
  background-color: var(--color-3);
}

/* Resume Section */
.resume-download {
  color: var(--color-5);
  text-decoration: none;
}

.resume-download:hover {
  /* background: var(--color-5); */
  color: var(--color-6);
  border-radius: 15px;
  text-shadow: none;
  text-decoration: none;
}

/* Footer Section */
.footer {
  background-color: var(--color-4);
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  margin-top: -40px;
}

.footer h3 a {
  color: var(--color-2);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  text-decoration: none;
}

.footer h3 a:hover {
  background: var(--color-3);
  color: var(--color-4);
  border-radius: 10px;
  text-shadow: none;
  padding-left: 10px;
  padding-right: 10px;
}
